
@{
    ViewData["Title"] = "Training";
}

<div class="card">
    <div class="card-body">
        <h5>Corporate Training</h5>
        <p>Professional developer training programs.</p>
    </div>
</div>