
@{
    ViewData["Title"] = "About";
}

<div class="alert alert-info">
    Our company provides enterprise IT solutions.
</div>

<ul class="list-group">
    <li class="list-group-item">10+ Years Experience</li>
    <li class="list-group-item">Global Clients</li>
    <li class="list-group-item">Expert Engineers</li>
</ul>

